body {
    background-color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.maindiv {

    padding-top: 20px;
}

h1 {
    
    color: white;
    display: inline-block;
    /* border: 1px solid red; */
    width: 90px;
    font-size: 60px;
    /* margin-left: -5px; */
    /* text-align: left; */
    /* height: 150px; */
    /* margin-top: 50px; */
    /* margin-left: 15px; */

}

h2 {

    color: white;
    font-size: 40px;
    
}


p {
    color: white;
    display: inline-block;
    font-family: monospace;
    font-size: 11px;
    margin: 0px 35px;
    /* margin-left: 80px; */
    /* padding-left: 17px; */
    margin-right: 10px;
    
} 

.screen {
    
    border: 2px solid white;
    border-radius: 80px;
    /* width: 75%; */
    /* height: 150px; */
    /* margin: 0px auto; */
    /* padding-left: 45px; */
    /* padding-top: 0px; */
    margin-left: 170px;
    margin-right: 170px;
}

/* .mil {
    
    padding-left: 10px;
    padding-right: 10px;

} */

button {

    background-color: unset;
    color: white;
    border-color: white;
    border-radius: 70px;
    width: 22%;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 30px;

}

/* @media (min-width: 625px) and (max-width: 768px){
  
    .screen {
        width: 100%;
        font-size: 35px;
        margin-left: 170px;
       margin-right: 170px;
       margin: 0px auto;
    }

    h1 {
        width: 10%;
        font-size: 35px;
    }

    p {
        font-size: 9px;
        margin: 0px 5px;
    }

    button {
        width: 50%;
    }
    
  }   */
    


@media (min-width: 481px) and (max-width: 767px) {
  
    .screen {
        /* justify-content: space-between; */
        /* display: flex;
        flex-wrap: wrap; */
        width: 100%;
        font-size: 35px;
        margin-left: 170px;
       margin-right: 170px;
       margin: 0px auto;
    }

    h1 {
        width: 10%;
        font-size: 35px;
    }

    p {
        font-size: 9px;
        margin: 0px 5px;
    }

    button {
        width: 50%;
    }
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .screen {
        justify-content: space-between;
        /* justify-content: space-between; */
        /* display: flex;
        flex-wrap: wrap; */
        width: 100%;
        font-size: 30px;
        margin-left: 170px;
        margin-right: 170px;
        margin: 0px auto;
    }

    h1 {
        width: 10%;
        font-size: 25px;
    }

    p {
        font-size: 7px;
        margin: 0px 5px;
    }

    button {
        width: 50%;
    }
    
  }