body {

    /* background-color: black; */
    /* text-align: center; */
}

.maindiv {
    /* border: 1px solid red; */
    /* height: 70px; */
    width: 100%;
    background-color: #316DC3;
    color:  white;
    /* font-size: smaller; */
    /* display: flex; */
    /* flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 0px;
    left: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.div1 {

    /* border: 1px solid blue; */
    width: 260px;
    display: inline-block;
    /* padding-top: 17px; */
    /* flex: 1; */
}
.div2 {

    /* border: 1px solid red; */
    width: 500px;
    display: inline-block;
    /* padding-top: 33px;
    padding-bottom: 16px; */
    text-align: center;
    /* flex: 2; */
    margin: auto;
}
.div3 {

    /* border: 1px solid blue; */
    width: 200px;
    display: inline-block;
    /* padding-top: 10px;
    padding-bottom: 15px; */
    margin-left: 20px;
    line-height: 28px;
    /* position: absolute;
    bottom: 6px; */
    /* flex: 1; */
    /* margin: auto; */
}

.buttons1 {

    cursor: pointer;
    color: rgb(92, 170, 77);
}

ul {

    list-style-type: none;
    
}

li {
    display: inline-block;
}

.img0 {

    height: 16px;
    margin-left: 15px;
}

.maindiv2 {

    /* border: 2px solid red; */
    /* height: 70px; */
    width: 100%;
    background-color: white;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    left: 0px;
    right: 0px;
    top: 70px; */
    /* border: 2px solid black; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.img1 {

    width: 140px;
    height: 60px;
}

.div4 {

    /* border: 2px solid red; */
    width: 140px;
    display: inline-block;
    /* height: 60px; */
    margin-left: 50px;
    margin-top: 10px;
    /* position: absolute;
    bottom: 0px; */

}

.div5 {

    /* border: 2px solid red; */
    display: inline-block;
    /* margin-left: 130px; */
    /* position: absolute;
    top: 17px;
    left: 310px; */
    margin: auto;
}

.buttons2 {

    margin-left: 9px;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
}

.buttons2:hover {

    background-color: #316DC3;
    color: white;
}

.maindiv3 {
    
    /* border: 2px solid red; */
    width: 100%;
    /* height: 50%; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 140px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img2 {

    height: 100%;
    width: 100%;
}

.maindiv4 {
    background-color: white;
    /* border:  1px solid blue; */
    width: 100%;
    /* height: 50px; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 443px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 13px;
}

.div6 {
    /* border: 1px solid red; */
    background-color: #316DC3;
    /* height: 25px; */
    width: 98%;
    /* margin-top: 9px; */
    margin: 9px auto;
    text-align: center;
    color: white;

}

.span0 {
    color: rgb(0, 255, 0);
}

.span01 {
    color: blue;
}

.maindiv7 {
    /* border: 1px solid red; */
    background-color: white;
    text-align: center;
    width: 100%;
    /* height: 115%; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 493px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    /* font-size: 13px; */

}

.h11 {
    color: rgb(55, 158, 55);
}

.span1 {
    color: rgb(57, 124, 201);
}

.img3 {

    width: 60px;
    height: 40px;
}

.p1::before,.p1::after {
    content: "____";
    color: rgb(55, 158, 55);
    font-size: 20px;
    padding: 10px;
    /* box-sizing: border-box;
    width: 36px;
    height: 2px; */
}

.p2 {

    line-height: 1.9;
    /* text-align: justify; */
}

.div7 {

    /* border: 1px solid black; */
    /* margin: 15px 100px; */
    text-align: justify;
    font-family: sans-serif;
    color: gray;
    /* height: 65%; */
    font-size: 15px;
    margin: 25px 115px;
}


.maindiv8 {
    /* border: 1px solid blue; */
    background-color: rgb(42, 77, 190);
    width: 100%;
    /* height: 40%; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 1192px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div8  {
    /* border: 1px solid red; */
    display: inline-block;
    width: 200px;
    height: 170px;
    margin-top: 20px;
    margin: 45px 20px;
    color: white;
    font-family: monospace ;
    text-align: center;
    font-size: 14px;
    
}

.span2 {

    color: rgb(44, 153, 44);
}

.img4 {

    height: 56px;
}

.maindiv9 {

    /* border: 1px solid red; */
    background-color: rgb(224, 221, 221);
    text-align: center;
    width: 100%;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 1434px;
    left: 0px;
    right: 0px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.Maindiv9 {

    text-align: center;
    margin: auto;
}

.div9 {
    border: 1px solid white;
    background: white;
    display: inline-block;
    width: 280px;
    /* height: 170px; */
    margin-top: 20px;
    margin: 15px 15px;
    color: rgb(45, 88, 122);
    font-family: monospace ;
    /* text-align: center; */
    /* font-size: 14px; */
}

.img5 {

    height: 80px;
    margin-top: 15px;
}

.maindiv10 {
    background-color: white;
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 70%; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 2041px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div010 {
    /* border: 1px solid red; */
    width: 59%;
    /* height: 65%; */
    display: inline-block;
    margin: 20px 10px;
    color: rgb(57, 124, 201);
    font-size: 12px;
    font-family: sans-serif;
    /* vertical-align: middle; */

}

.div0010 {
    /* border: 1px solid red; */
    width: 35%;
    /* height: 65%; */
    display: inline-block;
    margin: 20px 12px;
    /* margin-right: 10px; */
    color: rgb(57, 124, 201);
    font-size: 13px;
    font-family: sans-serif;
    /* vertical-align: middle; */
    /* position: relative;
    top: 40px; */
    padding-left: 6px;
}

.div10 {
    border: 1px solid grey;
    background-color: rgb(238, 238, 238);
    display: inline-block;
    width: 280px;
    height: 70px;
    margin-top: 20px;
    margin: 8px 10px;
    margin-left: 0px;
    font-family: sans-serif;
    color: rgb(57, 124, 201);
    text-align: left;
    font-size: 16px;
    font-weight: bold;

}

.img6 {

    /* margin-top: 10px;
    margin-left: 10px; */
    margin-right: 50px;
    padding-top: 10px;
    padding-left: 20px;

}

.div00110 {

    /* border: 1px solid grey; */
    background-color: rgb(238, 238, 238);
    /* height: 180px; */
    width: 240px;
    margin-left: 1px;
    color:gray;
    font-size: 14px;
    line-height: 1.7;
    font-family: sans-serif;
    text-align: left;
}

.p3::before {
    content: "_____";
    color: rgb(55, 158, 55);
    font-size: 20px;
    padding: 10px;
}

.maindiv11 {
    background-color: white;
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 85%; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 2466px;
    left: 0px;
    right: 0px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.div11 {
    border: 1px solid white;
    display: inline-block;
    width: 180px;
    /* height: 100px; */
    margin-top: 20px;
    margin: 80px 0px;
    /* color: rgb(45, 88, 122);
    font-family: monospace ; */
    text-align: center;
    /* font-size: 14px; */
    
}

.img7 {

    width: 180px;
    height: 100px;
}

.maindiv12 {
    background-color: rgb(22, 21, 21);
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 80%; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 2983px;
    left: 0px;
    right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.div12 {
    /* border: 1px solid white; */
    display: inline-block;
    width: 300px;
    /* height: 70%; */
    /* margin-top: 20px;
    margin: 65px 15px; */
    color: white;
    /* color: rgb(45, 88, 122);
    font-family: monospace ; */
    text-align: left;
    /* font-size: 14px; */

}

.img8 {
    height: 12px;
}

.img9 {

    height: 13px;
    margin-left: 2px;
    border: 1px solid #316DC3;
    border-width: 10px;
    background-color: #316DC3;
    border-radius: 20px;
}

.div012 {

    /* border: 1px solid white; */
    text-align: left;
    /* margin-left: 10px;
    margin-right: 90px; */
}

.ul1 {

    /* border: 1px solid white; */
    padding: 0px 0;
}

/* .a1 {

    text-align: left;
    padding: 25px 25px;
} */

pre {

    font-size: 22px;
}

/* #div012 {

    position: absolute;
    top: 0px;
    left: 0px;
}

#div0012 {
    position: absolute;
    top: 0px;
    left: 33%;
}

#div00012 {
    position: absolute;
    top: 0px;
    left: 66%;

} */

.maindiv13 {

    background-color: #316DC3;
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 6%; */
    color: white;
    text-align: left;
    font-size: 12px;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* position: absolute;
    top: 483px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.p13 {

    /* border: 1px solid red; */
    padding-left: 15px;
    font-weight: bold;
    /* padding: 0px 0;
    margin: 0px 0; */
}

.img10 {

    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 33px;
}

/* @media only screen and (max-width: 1200px){
    body {
        width: 100%;
        height: 1px;

    }
}

@media only screen and (max-width: 992px){
    body {
        width: 100%;
        height: 1px;
    }
}

@media only screen and (max-width: 768px){
    body {
        width: 100%;
        height: 1px;
    }
}
@media only screen and (max-width: 576px){
    body {
        width: 100%;
        height: 1px;
    }
}
@media only screen and (max-width: 576px){
    body {
        width: 100%;
        height: 1px;
    }
} */

/* .MainDiv {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* div {

    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    flex-wrap: wrap;
} */

.MainDiv {

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}